@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar Hide for Categories */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}
.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
